.c-pic-slider {
  position: relative;
  width: 100%;

  .c-pic-slider__picture {
    width: 100%;
    height: 167px;
    background-color: yellow;
  }

  .c-pic-slider__separator {
    width: 9.5px;
    height: 1px;
    margin-top: 11px;
    background-color: rgba(#fff, 0.5);
  }

  .c-pic-slider__name {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: rgba(#fff, 0.5);
  }
}
